<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://ec2-23-20-70-32.compute-1.amazonaws.com:5432/dfk5mta8dkdtbl</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <mapping class="clases.ContratosEntity"/>
        <mapping class="clases.PisosEntity"/>
        <mapping class="clases.ContratoEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>