*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: url(../img/N.PNG);
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
}

.contenedor-form{
    position: relative;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    max-width: 500px;
    margin: 48px auto;
    color: #fff;
    border-radius: 5px;
  /*  padding: 40px;*/
}
.contenedor-form .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height:25px ;
    text-align: center;
    border-top: 2px solid teal;
    border-bottom:  2px solid teal;
    transition: all .5s ease;
    cursor: pointer;

}
.contenedor-form .toggle span {
    letter-spacing: 1px;
}
.contenedor-form .toggle :hover {
    border-top: 2px solid #0075d9;
    border-bottom: 2px solid #0075d9;

}
.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}
.contenedor-form input[type= "text"],
.contenedor-form input[type= "password"],
.contenedor-form input[type= "email"]{
    outline: none;
    background: rgba(0, 0, 0, .5);
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid darkcyan;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;
    transition: all .5s ease;
}

.contenedor-form  input [type="text"] :focus,
.contenedor-form  input [type="password"] :focus,
.contenedor-form  input [type="email"] :focus {
    border-bottom: 4px solid #0075d9;
}
.contenedor-form input[type="submit"]{
    background: teal;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 0 ;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;

}
.contenedor-form input[type="submit"] :hover {
    background: teal;

}
.contenedor-form .reset-password {
    background: teal;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    letter-spacing: 1px;
}
.contenedor-form .reset-password a {
    color:#fff;
    text-decoration: none;
    font-size:16px ;
}
.contenedor-form .formulario{
    padding:40px ;
    display: none;
}
.contenedor-form .formulario:nth-child(2){
    display: block;
}