<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>SERVLOGIN</servlet-name>
        <servlet-class>servlets.SERVLOGIN</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SERVLOGIN</servlet-name>
        <url-pattern>/SERVLOGIN</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SERVALTA</servlet-name>
        <servlet-class>servlets.SERVALTA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SERVALTA</servlet-name>
        <url-pattern>/SERVALTA</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SERVMOD</servlet-name>
        <servlet-class>servlets.SERVMOD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SERVMOD</servlet-name>
        <url-pattern>/SERVMOD</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SERVBAJA</servlet-name>
        <servlet-class>servlets.SERVBAJA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SERVBAJA</servlet-name>
        <url-pattern>/SERVBAJA</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>/webapp/index.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>