<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>servLoginUser</servlet-name>
        <servlet-class>servlets.servLoginUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servLoginUser</servlet-name>
        <url-pattern>/servLoginUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servConsultaCliente</servlet-name>
        <servlet-class>servlets.servConsultaCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servConsultaCliente</servlet-name>
        <url-pattern>/servConsultaCliente</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servAltaCliente</servlet-name>
        <servlet-class>servlets.servAltaCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servAltaCliente</servlet-name>
        <url-pattern>/servAltaCliente</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servModCliente</servlet-name>
        <servlet-class>servlets.servModCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servModCliente</servlet-name>
        <url-pattern>/servModCliente</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servBajaCliente</servlet-name>
        <servlet-class>servlets.servBajaCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servBajaCliente</servlet-name>
        <url-pattern>/servBajaCliente</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servActualizarCliente</servlet-name>
        <servlet-class>servlets.servActualizarCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servActualizarCliente</servlet-name>
        <url-pattern>/servActualizarCliente</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servAltaVehiculo</servlet-name>
        <servlet-class>servlets.servAltaVehiculo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servAltaVehiculo</servlet-name>
        <url-pattern>/servAltaVehiculo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servBajaVehiculo</servlet-name>
        <servlet-class>servlets.servBajaVehiculo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servBajaVehiculo</servlet-name>
        <url-pattern>/servBajaVehiculo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servModVehiculo</servlet-name>
        <servlet-class>servlets.servModVehiculo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servModVehiculo</servlet-name>
        <url-pattern>/servModVehiculo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servConsultaModCliente</servlet-name>
        <servlet-class>servlets.servConsultaModCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servConsultaModCliente</servlet-name>
        <url-pattern>/servConsultaModCliente</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servConsultaModVehiculo</servlet-name>
        <servlet-class>servlets.servConsultaModVehiculo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servConsultaModVehiculo</servlet-name>
        <url-pattern>/servConsultaModVehiculo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servLoginCliente</servlet-name>
        <servlet-class>servlets.servLoginCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servLoginCliente</servlet-name>
        <url-pattern>/servLoginCliente</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servAltaClienteCli</servlet-name>
        <servlet-class>servlets.servAltaClienteCli</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servAltaClienteCli</servlet-name>
        <url-pattern>/servAltaClienteCli</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servPassCli</servlet-name>
        <servlet-class>servlets.servPassCli</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servPassCli</servlet-name>
        <url-pattern>/servPassCli</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servConsultaVehiculo</servlet-name>
        <servlet-class>servlets.servConsultaVehiculo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servConsultaVehiculo</servlet-name>
        <url-pattern>/servConsultaVehiculo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>servAltaContratoCli</servlet-name>
        <servlet-class>servlets.servAltaContratoCli</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servAltaContratoCli</servlet-name>
        <url-pattern>/servAltaContratoCli</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/webapp/index.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>